
#field {
    width: 450px;
    margin: 0 auto;
    align: center;
    padding-bottom: 
    border-radius:0px;
	border:5px solid #ffaa22;
}

h1 {
   /* width: 450px;*/
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    color: #FF0000;
    font-size: 4em;
}

#button{
	width: 450px;
    margin: 0 auto;
    align: center;
   	text-align: center;
}

/* ---------------Button(New Game)---------------- */

.myButton {
	-moz-box-shadow: 2px -1px 20px 3px #fff6af;
	-webkit-box-shadow: 2px -1px 20px 3px #fff6af;
	box-shadow: 2px -1px 20px 3px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64; /*#ffec64*/
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:4px 8px;
	text-decoration:none;
	text-shadow:1px -2px 2px #ffee66;
	margin-top: 5px;
	margin-bottom: 5px;
	
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* ---------------Button(Get Game)---------------- */

.get {
	/*	-moz-box-shadow:inset 1px 0px 50px 0px #9acc85;
	-webkit-box-shadow:inset 1px 0px 50px 0px #9acc85;
	box-shadow:inset 1px 0px 50px 0px #9acc85; */
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	/*padding:120px 210px;*/
	text-decoration:none;
	height: 190px;
	width: 338px;
}
.get:hover {
	background-color:transparent;
}
.get:active {
	position:relative;
	top:1px;
}


/* ---------------Stones---------------- */
.Stone {
	-moz-box-shadow:inset 0px 0px 50px 3px #54a3f7;
	-webkit-box-shadow:inset 0px 0px 50px 3px #54a3f7;
	box-shadow:inset 0px 0px 50px 3px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	border:4px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:28px;
	padding:21px 28px;
	text-decoration:none;
	text-shadow:3px -1px 5px #154682;
	height: 30;
	width: 30;
}
.Stone:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.Stone:active {
	position:relative;
	top:1px;
}

/*---------------Empty Stone--------------*/
.Empty {
	-moz-box-shadow:inset 0px 0px 50px 3px #ffffff;
	-webkit-box-shadow:inset 0px 0px 50px 3px #ffffff;
	box-shadow:inset 0px 0px 50px 3px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
	/*border:4px solid #ffffff;*/
	border:4px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:28px;
	padding:21px 28px;
	text-decoration:none;
	text-shadow:3px -1px 5px #ffffff;
	height: 30;
	width: 30;
}
.Empty:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
}
.Empty:active {
	position:relative;
	top:1px;
}

/* ---------------12columns---------------- */
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
	text-align: center;
}

.colHeader {
	display: block;
	float:left;
	margin: 0% 0 0% 0%;
	text-align: center;
	background-color: black;	
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.66%;
}
.span_10_of_12 {
  	width: 83.33%;
}

.span_9_of_12 {
  	width: 75%;
}

.span_8_of_12 {
  	width: 66.66%;
}

.span_7_of_12 {
  	width: 58.33%;
}

.span_6_of_12 {
  	width: 56.8%; /*50% alebo auto*/
}

.span_5_of_12 {
  	width: 22.1%;
}

.span_4_of_12 {
  	width: 33.33%;  
}

.span_3_of_12 {
  	width: 22.1%; /*25% alebo 410*/ 
}

.span_2_of_12 {
  	width: 16.66%;
}

.span_1_of_12 {
  	width: 8.333%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}

/* ---------------------clickable------------------------------*/

div.clickable { /* Containing div must have a position value */ position:relative; } 

div.clickable a { position:absolute; width:100%; height:100%; top:0; left:0; text-decoration:none; 
/* Makes sure the link   doesn't get underlined */ 
z-index:10; /* raises anchor tag above everything else in div */ 
background-color:white; 
/*workaround to make clickable in IE */ 
opacity: 0; /*workaround to make clickable in IE */ 
filter: alpha(opacity=1); /*workaround to make clickable in IE */ }


.div_text_shadow 
{
color: rgb(138, 2, 2);
font-size: 81px;
background-color: transparent;
text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.0980392) 0px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.14902) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.0980392) 0px 20px 20px;
}
